{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "java", "yaml"],
          "plugins": ["line-numbers"],
          "theme": "dark",
          "css": true
      }]
    ]
  }